################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/vulkan_demo/v17
/temp
/bin/Debug/splg.log
/bin/Debug/main.log
/bin/Debug/core.log
/bin/Debug/Renderd.pdb
/bin/Debug/Renderd.lib
/bin/Debug/Renderd.exp
/bin/Debug/Renderd.dll
/.vs/vulkan_demo
/project/Render/render.log
/3rd/include/spirv-cross
/3rd/include/glslang
/bin/Debug/render.log
/3rd/include/stb
/3rd/include/astc
/3rd/include/ktx
/assets
/shaders
